/* .parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
 h1{
    text-align: center;
 }
.done{
    text-decoration: line-through;
}
.input-section{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.input-section button{
    border: none;
    padding: 6px 10px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    background-color: palevioletred;
}
li{
    display: flex;
    justify-content: center;
    gap: 10px;
}
ul{
    list-style-type: none;
}
ul button{
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 3px 8px;
    border: none;
    background-color: red;
}
ul span{
    font-size: 2rem;
}
.btndlt{
    background: red;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    font-weight: bold;
    color: white;
}