<!-- template form -->
<!-- <div class="parent">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" ngModel required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel required minlength="6">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Login</button>
      </form>
</div> -->

<!-- reactive form -->

<div class="parent">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>

      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required!</div>
        <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid format </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword" formControlName="password">
      </div>

      <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <div *ngFor="let error of passwordErrors | keyvalue">
          <div [ngClass]="{'text-danger': error.value, 'text-success': !error.value}">
            {{ getErrorMessage(error.key) }}
          </div>
        </div>
      </div>
      
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
    </form>
</div>