.parent{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 50%;
}
.text-danger {
    color: red;
  }
  
  .text-success {
    color: green;
  }